{% extends "base.html" %}
{% block content %}
    <div class="card-wrapper">
        <div class="card">
            <h2 class="center">Update Student</h2>
            <form id="updateForm">
                <div class="form-group">
                    <label for="student_id">Student Number:</label>
                    <input name="student_id"
                           id="student_id"
                           class="form-control"
                           type="text"
                           value="{{ student.student_id }}" />
                </div>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text"
                           id="first_name"
                           name="first_name"
                           class="form-control"
                           value="{{ student.first_name }}" />
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           class="form-control"
                           value="{{ student.last_name }}" />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control"
                           value="{{ student.email }}" />
                </div>
                <div class="form-group">
                    <label for="course">Course:</label>
                    <select id="course" name="course" class="form-control" required>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}"
                                    {% if course.course_id == student.course_id %}selected{% endif %}>
                                {{ +course.course_id + ": " + course.course_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="skills">Skills:</label>
                    <select id="skills" name="skills" class="form-control" multiple required>
                        {% for skill in skills %}
                            <option value="{{ skill.skill_name }}"
                                    {% if skill in student.skills %}selected{% endif %}>{{ skill.skill_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="placement_duration">Placement Duration:</label>
                    <select id="placement_duration"
                            name="placement_duration"
                            class="form-control"
                            multiple
                            required>
                        <option value="1_day"
                                {% if "1_day" in student.placement_duration %}selected{% endif %}>1 Day</option>
                        <option value="1_week"
                                {% if "1_week" in student.placement_duration %}selected{% endif %}>1 Week</option>
                        <option value="1_month"
                                {% if "1_month" in student.placement_duration %}selected{% endif %}>1 Month</option>
                        <option value="3_months"
                                {% if "3_months" in student.placement_duration %}selected{% endif %}>3 Months</option>
                        <option value="6_months"
                                {% if "6_months" in student.placement_duration %}selected{% endif %}>6 Months</option>
                        <option value="12_months"
                                {% if "12_months" in student.placement_duration %}selected{% endif %}>
                            12 Months
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="has_car">Do you have a car?</label>
                    <input type="checkbox"
                           id="has_car"
                           name="has_car"
                           {% if student.has_car %}checked{% endif %}>
                </div>
                <div class="form-group">
                    <label for="modules">Modules:</label>
                    <select id="modules" name="modules" class="form-control" multiple required>
                        {% for module in modules %}
                            <option value="{{ module.module_id }}"
                                    {% if module.module_id in student.module %}selected{% endif %}>
                                {{ module.module_id + ": " + module.module_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Any Other Comments:</label>
                    <textarea id="comments" name="comments" class="form-control" rows="4">{{ student.comments }}</textarea>
                </div>
                <p class="error error--hidden"></p>
                <p class="success success--hidden"></p>
                <input type="submit" value="Update" class="btn" />
            </form>
            <script src="/static/admin_update_student/script.js"></script>
            <script>
                $(document).ready(function () {
                    $('#skills').selectize({
                        maxItems: 10,
                        sortField: 'text'
                    });
                    $('#modules').selectize({
                        plugins: ["remove_button"],
                        sortField: 'text'
                    });
                    $('#course').selectize({
                        plugins: ["remove_button"],
                        sortField: 'text'
                    });
                    $('#placement_duration').selectize({
                        plugins: ["remove_button"],
                        sortField: 'text'
                    });
                });
            </script>
        </div>
    </div>
{% endblock content %}
