# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

__pypackages__/
.vs/
.vs

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.pytest_cache/
.vercel/
.DS_Store
.mypy_cache/
not_full_courses.json
.vercel
.coverage