{% extends "base.html" %}
{% block content %}
{% if user_type == 'admin' %}
{% include "/user/navbar.html" %}
{% else %}
{% include "navgbar.html" %}
{% endif%}

<div class="container">
    <div class="card-wrapper">
        <div class="card pb-2" style="border:none;">
            <h1 class="center">Change Password</h1>
            <form class="change_password" name="change_password">
                <div class="form-group mt-3">
                    <label for="email">{% if user_type == 'admin' %} 
                        Email
                    {% else %}
                    Student ID
                    {% endif %}
                    </label><br>
                    <input name="email" class="field" value="{{ user_identifier }}" required style="pointer-events: none;" autocomplete="on" spellcheck="false" dir="auto" disabled />
                </div>
                <div class="form-group mt-3">
                    <label for="old_password">Old Password</label><br>
                    <input type="password" name="old_password" class="field" required autocomplete="on" spellcheck="false" dir="auto" />
                </div>
                <div class="form-group mt-3">
                    <label for="new_password">New Password</label><br>
                    <input type="password" name="new_password" class="field" required autocomplete="on" spellcheck="false" dir="auto" />
                </div>
                <div class="form-group mt-3">
                    <label for="confirm_password">Confirm Password</label><br>
                    <input type="password" name="confirm_password" class="field" required autocomplete="on" spellcheck="false" dir="auto" />
                </div>
                <p class="error error--hidden"></p>
            
                <div class="button-group mt-3">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                    <a href="javascript:history.back()" class="btn">Go Back</a>
                </div>
            </form>
        </div>
        <script src="/static/change_password/script.js"></script>
    </div>
</div>
{% endblock content %}