{% extends "base.html" %}
{% block content %}
    <div class="card-wrapper">
        <div class="card login-card">
            <h1 class="center">Log In</h1>
            <form class="login_form" name="login_form">
                <input type="email" name="email" class="field" placeholder="Email" required />
                <div class="password-container">
                    <input type="password"
                           name="password"
                           class="field"
                           placeholder="Password"
                           required />
                </div>
                <p class="error error--hidden"></p>
                <input type="submit" value="Log In" class="btn" />
            </form>
            <p class="center">
                Don't have an account? <a href="/user/register">Register</a>
            </p>
            <p class="center">
                Are you a student?
                <a href="/students/login">Student Login</a>
            </p>
            <p class="center">
                Are you an employer?
                <a href="{{ url_for('employer_login') }}">Login</a>
            </p>
        </div>
        <script src="/static/login/script.js"></script>
    </div>
{% endblock content %}
